@using EnumsAndExtensions.Extensions
@using EnumsAndExtensions.Models.Enums

@model EnumsAndExtensions.Models.ListViewModel 

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*This comes default using MVC5*@
    @*@Html.EnumDropDownListFor(x=>x.MyCoolEnum)*@
    
    @*MVC Default Approach*@
    @Html.LabelFor(viewModel => viewModel.SelectedEnumItemId)
    @Html.DropDownListFor(viewModel => viewModel.SelectedEnumItemId, Enum.GetNames(typeof(CoolEnum)).ToArray().Select(f => new SelectListItem() { Text = f, Value = f}), "- SELECT -")
    @*@Html.DropDownListFor(viewModel => viewModel.MyCoolEnum, new SelectList(Enum.GetValues(typeof(CoolEnum)), @Model.SelectedEnumItemId), " - SELECT -")*@
    

    @*Using Extension Methods*@
    @Html.LabelFor(viewModel => viewModel.SelectedEnumItemId)
    @Html.DropDownList("MyDropDownList", @Model.MyCoolEnum.ToSelectList())
    
    @Html.LabelFor(viewModel => viewModel.SelectedEnumItemId)
    @Html.MyEnumDropDownListFor(x => x.MyCoolEnum)
    

    @*Built through HomeController Using Extension Methods with Working SelectedValue*@
    @Html.LabelFor(viewModel => viewModel.SelectedEnumItemId)
    @Html.DropDownListFor(viewModel => viewModel.SelectedEnumItemId, Model.EnumList, " - SELECT -")  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>